.about-us {
  width: 100%;
  /* margin-left: 25px; */
  margin-right: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.aboutHeader {
  text-align: center;
  font-size: 40px;
  background: black;
  color: white;
  padding-bottom: 10px;
}

.aboutbody {
  background-color: white;
  color: black;
  line-height: 1.5;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  padding: 5px;
  height: 510px;
  width: 300px;
}

.owner {
  line-height: 1.5;
  font-size: 15px;
  font-weight: bold;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  background: white;
  color: black;
  width: 300px;
  padding-bottom: 10px;
}

.owner-image {
  padding-top: 5px;
  height: 350px;
  width: 290px;
}

.ownerText {
  padding-left: 5px;
  padding-right: 5px;
}
/* .owner-info {
  background: black;
  color: white;
  padding: 5px;
  width: 300px;
} */

.weeklyshoe {
  color: black;
  text-align: center;
  height: auto;
  background: white;
  width: 300px;
  height: 510px;
  margin-bottom: 45px;
  padding-right: 5px;
  padding-left: 5px;
  padding-top: 5px;
}

.shoeOfWeek {
  padding-top: 5px;
  width: 290px;
  height: 200px;
}

.shoeWeekHeader {
  line-height: 1.5;
  background: black;
  color: white;
  font-weight: bold;
  font-size: 40px;
  padding-bottom: 10px;
  text-align: center;
}
.btn2 {
  background: black;
  color: white;
  padding: 10px;
  border-radius: 10px;
}

@media (max-width: 800px) {

  .about-us {
    flex-direction: column;
  }
  .aboutbody {
    font-size: 25px;
    width: 600px;
    margin-left: 60px;
    height: 420px;
    margin-top: 80px;
    margin-bottom: 50px;
    flex-direction: row;
  }

  .owner {
    margin-left: 60px;
    flex-direction: column;
    width: 600px;
    height: 630px;
  }
  .owner-image {
    height: 550px;
    width: 590px;
  }

  .owner-info {
    width: 800px;
    height: 800px;
  }
  .weeklyshoe {
    margin-top: 45px;
    margin-left: 60px;
    width: 600px;
    height: 630px; 
  }

  .shoeOfWeek {
    width: 400px;
    height: 400px;
  }

  .btn1 {
    margin-right: 30px;
  }
}

@media (max-width: 400px) {
  .about-us {
    flex-direction: column;
  }
  .aboutbody {
    font-size: 20px;
    width: 350px;
    margin-left: 5px;
    margin-right: 60px;
    height: 525px;
    margin-top: 80px;
    margin-bottom: 50px;
    flex-direction: row;
  }

  .owner {
    margin-left: 5px;
    flex-direction: column;
    width: 350px;
    height: 630px;
  }
  .owner-image {
    height: 550px;
    width: 340px;
  }

  .owner-info {
    width: 350px;
    height: 800px;
  }
  .weeklyshoe {
    margin-top: 45px;
    margin-left: 5px;
    width: 350px;
    height: 620px; 
  }

  .shoeOfWeek {
    width: 340px;
    height: 320px;
  }

  .btn1 {
    margin-right: 30px;
  }
}