.contactForm {
    padding-left: 5px;
}

.formHeading {
    font-size: 50px;
}

.form-group {
    font-weight: bold;
    font-size: 25px;
}

#contact-form .form {
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

#contact-form label {
    display: block;
    margin-bottom: 5px;
}

#contact-form input, #contact-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px #ddd solid;
}

#contact-form textarea {
    height: 200px;
}

#contact-form input:focus, #contact-form textarea:focus {
    outline: none;
    border-color: #eb8f16;
}

.btn {
    display: inline-block;
    font-size: 18px;
    color: white;
    background: #372c2e;
    padding: 13px 20px;
    border: none;
    cursor: pointer;
    margin-left: 20px;
}

.btn:hover {
    background: white;
    color: black;
    transition: .5s ease-in-out;
}

#features {
    display: flex;
    color: #eb8f16;
    background-color: #372c2e;
    margin: auto;
    width: 60%;
    padding: 40px;
}

.span-text {
    color: #eb8f16;
}

#features p {
    font-size: 15px;
}

.box1 {
    left: 5px;
    width: 34%;
    text-align: center;
}

.box2 {
    width: 34%;
    text-align: center;
}

.box3 {
    width: 34%;
    text-align: center;
}

@media (max-width: 400px) {
    .formHeading {
        margin-bottom: 50px;
    }
}
